
body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin: 0px;
}

 /** HEADER **/

header {
	position: fixed;
	width: 100%;
	height: 60px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #14597f;
	border-bottom: 1px solid #0b2d3d;
}

header > div {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

header a#logo {
	height: 100%;
	float: left;
}

header a#logo img {
	float: left;
	height: 100%;
}


header nav {
	height: 100%;
	float: right;
	display: flex;
	justify-content:center;
	align-items:center;
}

header nav a {
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	color: white;
	vertical-align: middle;
	margin-left: 5px;
}

header nav a.active {
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
	background-color: #1fb5e9;
	margin-left: 5px;
}

header nav a.panier {
	height: 100%;
	width: auto;
	display: flex;
	justify-content:center;
	align-items:center;
}

header nav a.panier span.fa-stack {
	/*position: absolute;*/
  z-index:0;
  display: block;
}

header nav span i.fa-shopping-cart {
	color: #14597f;
	vertical-align: middle;
	text-align:center;
	margin: 0px;
	padding: 0px;	

}

header nav span i.fa-shopping-cart.active {
	color: #1fb5e9;
	vertical-align: middle;
	text-align:center;
	margin: 0px;
	padding: 0px;	

}

header nav span.count {
	position: relative;
	left: -17px;
	top: 17px;
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color:#d9534f;
	border-radius: 50%;
}

/** FIN HEADER **/

footer {
	height: 70px;
	display: flex;
	justify-content:center;
	align-items:center;
	bottom: 0;
	background-color: #eeeeee;
	border-top: 1px solid #cccccc;
}

main {
	padding-top: 61px;
	padding-right: 20px;
	padding-left: 20px;
	overflow: auto;	
	display: flex;
  flex-direction: column;  
  margin: 0 auto;
	max-width: 1200px;
	min-height: calc(100vh - 70px - 60px);
	box-sizing:border-box;
}

main article img {
	float:right;
	height: 40%;
	width: 40%;
	margin-top: -80px;
}

.btn {
	background-color: #14597f;
	border: 1px solid #0b2d3d;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	padding: 10px;
	transition: background 0.2s ease-out;
}

.btn:hover {
	background-color: #1fb5e9;
}


/** PRODUITS **/

main aside {
	display: block;
	position: fixed!important;;
	overflow: auto;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 20px;
	height: 100%;
	width: 25%;
/*	background-color: #f3f3f3;
	border : 1px solid #999999;*/
}

main aside div.btn-group {
	border : 1px solid #999999;
	border-radius: 4px;
	width: 100%;
}

main aside div.btn-group button {
	width: 100%;
	cursor: pointer;
	display: block;
	padding: 10px 24px;
	background-color: transparent;
	border : 0px solid #999999;
	text-align: left;
	font-size: 18px;
	white-space: nowrap;
}

main aside div.btn-group button:not(:last-child) {
	border-bottom: 1px solid #999999;
}

main aside div.btn-group button:hover {
	background-color: #f3f3f3 !important;
}


main aside div.btn-group button:active {
	background-color: #f3f3f3;
}

main aside div.btn-group button.selected {
	background-color: #ddf2fb;
}


main article.products-article {
	text-align: center;
	margin-left: 25%;
	display: inline-block;
	float: right;
	width: 70%;
} 


/** FIN PRODUITS **/
