
body {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	margin: 0px;
}

main {	
	display: flex;
  flex-direction: column;  
  margin: 0 auto;
	max-width: 1200px;
	padding-right: 20px;
	padding-left: 20px;
}

 /** HEADER **/

header {
	height: 60px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #14597f;
	border-bottom: 1px solid;
	border-color: #0b2d3d;
}

header > div {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

header a#logo {
	height: 100%;
	float: left;
}

header a#logo img {
	float: left;
	height: 100%;
}


header nav {
	height: 100%;
	float: right;
	display: flex;
	justify-content:center;
	align-items:center;
}

header nav a {
	text-decoration: none;
	font-size: 18px;
	padding: 10px;
	color: white;
	vertical-align: middle;
	margin-left: 5px;
}

header nav a.active {
	text-decoration: none;
	padding: 10px;
	border-radius: 4px;
	background-color: #1fb5e9;
	margin-left: 5px;
}

header nav a.panier {
	height: 100%;
	display: flex;
	justify-content:center;
	align-items:center;
}

header nav a.panier span.fa-stack {
	position: absolute;
  z-index:0;
  display: block;
}



header nav span i.fa-shopping-cart {
	color: #14597f;
	vertical-align: middle;
	text-align:center;
	margin: 0px;
	padding: 0px;	

}

header nav span i.fa-shopping-cart.active {
	color: #1fb5e9;
	vertical-align: middle;
	text-align:center;
	margin: 0px;
	padding: 0px;	

}

header nav span.count {
	position: relative;
	left: 17px;
	top: 17px;
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color:#d9534f;
	border-radius: 50%;
}

/** FIN HEADER **/

footer {
	height: 70px;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	background-color: #eeeeee;
	border-top: 1px;
	border-color: #cccccc;
}