<article >
  <h1>Panier</h1>
    <div *ngIf="shoppingCart && shoppingCart.items && shoppingCart.items.length > 0;else emptyShoppingCartRender">
      <table class="table shopping-cart-table">
        <thead>
        <tr>
          <th></th>
          <th>Produit</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of shoppingCart.items">
          <td>
            <button class="remove-item-button" title="Supprimer" (click)="removeItem(item)">
              <i class="fa fa-times"></i>
            </button>
          </td>
          <td>
            <a routerLink="/produits/{{item.product.id}}">{{item.product.name}}</a>
          </td>
          <td>{{item.product.price | priceFormatPipe}}&thinsp;$</td>
          <td>
            <div class="row">
              <div class="col">
                <button *ngIf="item.quantity > 1;else disableMinusButton" class="remove-quantity-button" title="Retirer" (click)="decrementItemQuantity(item)"><i class="fa fa-minus"></i></button>
                <ng-template #disableMinusButton>
                  <button class="remove-quantity-button" title="Retirer" disabled><i class="fa fa-minus"></i></button>
                </ng-template>
              </div>
              <div class="col quantity">{{item.quantity}}</div>
              <div class="col">
                <button class="add-quantity-button" title="Ajouter" (click)="incrementItemQuantity(item)" ><i class="fa fa-plus"></i></button>
              </div>
            </div>
          </td>
          <td class="price">{{item.product.price * item.quantity | priceFormatPipe}}&thinsp;$</td>
        </tr>
        </tbody>
      </table>
      <p class="shopping-cart-total">Total: <strong id="total-amount">{{shoppingCart.total | priceFormatPipe}}&thinsp;$</strong></p>
      <a class="btn pull-right" routerLink="/commande">Commander <i class="fa fa-angle-double-right"></i></a>
      <button class="btn" id="remove-all-items-button" (click)="removeAllItems()"><i class="fa fa-trash-o"></i>&nbsp; Vider le panier</button>
    </div>

  <ng-template #emptyShoppingCartRender>
    <p>Aucun produit dans le panier.</p>
  </ng-template>
</article>
